AddDefaultCharset utf-8

ErrorDocument 400 /400.php
ErrorDocument 401 /401.php
ErrorDocument 402 /402.php
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.$
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
#RewriteRule ^index\.php$ http://www.stud9.asdat.info/ [R=301,L]

RewriteRule ^(albums|enter|kinonews|musicnews|registration|radio|news|contacts)$ /pages/$1.php$2 [L]




#asdasd